* {
    margin: 0;
}
body{
    background-color: #5c5959;
}
.navbar {
    background-color: #ffffff;
    width: 100vw;
    height: 7vh;
}
.logo {
    transform: translateY(-1px);
    width: 69px;
    height: 60px;
}
.logo_text {
    color: rgb(0, 0, 0);
    width: 500vw;
    height: 5vh;
    size: 50px;
    transform: translate(100px, -50px);
    font-family: 'Roboto';
}
.tools {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.logoImg {
    width: 100px;
}
.tool_text {
    transform: translate(0px, -35%);
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    size: 1cap;
}
.toolBtn {
    border-color: #2b2601;
    border-style: solid;
    border-radius: 7.5px;
    border-width: 4px;
    font-family: 'Roboto';
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
}
.tool {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    justify-items: center;
    align-content: center;
    border-radius: 15px;
    border-color: #919191;
    border-style: solid;
    border-width: 10px;
}
.treat_calculator {
    background-color: #4d4402;
    border-color: #2b2601;

    .treat_image {
        transform: translate(45%, -15%);
    }
    .btnTreat {
        transform: translate(50%, 25%);
        background-color: #ffe100;
        border-color: #2b2601;
        border-style: solid;
        border-radius: 7.5px;
        border-width: 4px;
        font-family: 'Roboto';
        font-weight: 600;
        color: rgb(0, 0, 0);
        width: 100px;
        height: 30px;
    }
}
.Blue_hive_guide {
    background-color: #04bfcc;
    border-color: #027db6;

    .imgBHG {
        transform: translate(50%);
    }
    
    .btnBHG {
        transform: translate(50%, 25%);
        background-color: #00d9ff;
        border-color: #2b2601;
        border-style: solid;
        border-radius: 7.5px;
        border-width: 4px;
        font-family: 'Roboto';
        font-weight: 600;
        color: rgb(255, 255, 255);
        width: 100px;
        height: 30px;
    }
}
.Red_hive_guide {
    background-color: #cc0404;
    border-color: #b60202;

    .imgRHG{
        transform: translate(50px, -15%);
    }
    .btnRHG {
        transform: translate(50%, 25%);
        background-color: #ff0000;
    }
}