* {
    margin: 0;
}
body{
    background-color: #0a0229;
}
.navbar {
    background-color: #874ef1;
    width: 100vw;
    height: 10vh;
}
.logo {
    transform: translateY(-1px);
    width: 10%;
    height: 100%;
}
.logo_text {
    color: rgb(0, 0, 0);
    width: 500vw;
    height: 5vh;
    size: 50%;
    transform: translate(3%, -170%);
    font-family: 'Roboto';
}
.tools {
    display: flex;
    padding: 1%;
    justify-content: space-between;
}

.logoImg {
    width: 50%;
}
.tool_text {
    transform: translate(0, -35%);
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
}
.toolBtn {
    border-color: #2b2601;
    border-style: solid;
    border-radius: 7.5px;
    border-width: 5px;
    font-family: 'Roboto';
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 15%;
}
.tool {
    background-color: #ffffff;
    width: 100vw;
    height: 40vh;
    justify-items: center;
    align-content: center;
    border-radius: 10px;
    border-color: #919191;
    border-style: solid;
    border-width: 100%;
}
.treat_calculator {
    background-color: #4d4402;
    border-color: #2b2601;

    .treat_image {
        transform: translate(45%, -15%);
    }
    .btnTreat {
        transform: translate(50%, 25%);
        background-color: #ffe100;
        border-color: #746601;
        border-style: solid;
        font-family: 'Roboto';
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
}
.Blue_hive_guide {
    background-color: #04bfcc;
    border-color: #027db6;

    .imgBHG {
        transform: translate(50%, -15%);
    }
    
    .btnBHG {
        transform: translate(50%, 25%);
        background-color: #00d9ff;
        border-color: #00668f;
    }
}
.Red_hive_guide {
    background-color: #cc0404;
    border-color: #b60202;

    .imgRHG{
        transform: translate(50%, -15%);
    }
    .btnRHG {
        transform: translate(50%, 25%);
        background-color: #ff0000;
        border-color: #b60202;
    }
}